 

.gn--wheel-filter-toggle {
    display: inline-block;
}

#venues,
.gn--wheel-filter-toggle {
    background: #fefefe;
    box-shadow: 0 1px 2px #efefef;
}

#venues {
    padding: .5em;
    overflow: hidden;
}

#venues ul,
#venues h2 {
    clear: both;
}

#venues li {
    float: left;
    width: 25%;
    line-height: 1.5;
    vertical-align: middle;
}

.gn--wheel-filter-toggle {
    border-radius: 0 0 3px 3px;
    cursor: pointer;
    margin-left: .5em;
    margin-top: -1px;
    padding: .5em;
}