 .gn--wheel-filter-toggle {
     display: inline-block;
 }

 .gn--wheel-data-center,
 .gn--wheel-filter-toggle {
     background: #fefefe;
     box-shadow: 0 1px 2px #efefef;
 }

 .gn--wheel-data-center {
     padding: .5em;
     overflow: hidden;
 }

 .gn--wheel-data-center ul,
 .gn--wheel-data-center h2 {
     clear: both;
 }

 .gn--wheel-data-center li {
     float: left;
     width: 25%;
     line-height: 1.5;
     vertical-align: middle;
 }

 .gn--wheel-filter-toggle {
     border-radius: 0 0 3px 3px;
     cursor: pointer;
     margin-left: .5em;
     margin-top: -1px;
     padding: .5em;
 }

 .gn--wheel-hidden {
     display: none;
 }

 .gn--wheel-shown {
     display: block;
 }

 .gn--data-set-hidden {
     display: none;
 }

 .gn--data-set-shown {
     display: block;
 }